NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespass
POSTGRES_DB=project_management
POSTGRES_PORT=5432

# USE this command to generate secret:  node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=large_random_string_atleast_32chars 
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

